<div style="width: 100vw; height: 100vh; display: flex; flex-direction:column; justify-content: center; align-items:center">
  <h1> Welcome to The Blogs ...</h1>
  <ul>
    <li><%=link_to 'Sign up', '/users/sign_up'%></li>
    <li><%=link_to 'Log In', '/users/sign_in'%></li>
  </ul>
</div>
